.card {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: relative;
}

.card__delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card__title {
  margin: 0;
  margin-top: 12px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  opacity: 0.4;
  cursor: pointer;
}
.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}
.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_active:hover {
  opacity: 0.5;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
