.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background: url(../images/close-icon.svg) center no-repeat;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url(../images/img-close.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: solid 1px rgba(33, 33, 33, 0.4);
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__input_type_error {
  border: solid 1px rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #2121214d;
}
.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
}

.modal__btn {
  border: none;
  max-width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 58px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__btn:hover {
  opacity: 0.8;
}

.modal__btn_inactive {
  opacity: 0.5;
  cursor: default;
}

.modal__btn_inactive:hover {
  opacity: 0.5;
}

.modal__img-container {
  position: relative;
}

.modal__img {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  margin: 8px 0 0;
  padding: 4px 8px;
  background-color: #212121;
  max-width: fit-content;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 630px) {
  .modal {
    line-height: 18px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__btn {
    max-width: none;
  }

  .modal__img {
    max-width: unset;
  }

  .modal__caption {
    max-height: 27px;
    font-size: 16px;
  }
}
