.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  border: 0;
  visibility: hidden;
  transition: visibility 0s ease;
}

.profile__avatar-hover {
  margin: 0 8px 12px 0;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  background-color: rgba(33, 33, 33, 0.5);
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fcf5e5;
  line-height: 1;
  margin: 0 0 12px;
}

.profile__avatar {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  width: 108px;
  margin: auto auto 0 0;
  border: none;
  padding: 0;
  background-color: #fcf5e5;
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__add-btn {
  margin: auto 0 0 auto;
  border-radius: 8px;
  background-color: rgb(33, 33, 33);
  color: #fff;
  display: flex;
  border: 0;
  padding: 18px;
  max-width: 149px;
  width: 100%;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__pencil-icon {
  opacity: 0.7;
}

.profile__pencil-icon:hover {
  opacity: 1;
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
  margin: 2px 0;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__avatar-hover {
    margin: 0;
    position: static;
  }

  .profile__avatar-btn {
    top: 52px;
    left: 52px;
    width: 23.34px;
    height: 23.34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    visibility: visible;
    background: rgba(33, 33, 33, 0.6);
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin-left: 0;
    width: 100%;
    justify-content: center;
    max-width: none;
  }
}
